<!-- <div class="form-group form-inline">
<label for="editionISBN10">ISBN10</label>
<input type="text" name="edition[isbn10]" id="editionISBN10" class="form-control" placeholder="0307739457">
<button class="btn btn-primary" id="lookupISBN" type="submit">Look Up by ISBN</button></div> -->

<div class="form-group form-inline">
  <label for="editionISBN13">ISBN13</label>
  <input type="text" name="ISBN13" id="editionISBN13" class="form-control" placeholder="e.g. 9780307739452"><button class="btn btn-primary" id="lookupISBN" type="submit">Search <i class="fa fa-search fa-lg" alt="success"></i></button><button class="btn" id="lookup-status"></button><span id="lookup-failure-message">Hmm...no results. Try again?</span>
  <small id="isbnHelp" class="form-text text-muted">Quickly add metadata from Google Books</small>
</div>
<!-- <button class="btn btn-primary" id="clearForm" type="submit">Clear</button>
 -->