<div class="form-group">
  <label for="editionPublicationyear">Publication Year</label>
  <input type="text" name="edition[publication_year]" id="editionPublicationyear" class="form-control">
</div>

<div class="form-group">
  <label for="editionFormat">Format</label>
  <select class="form-control" name="edition[format]" id="editionFormat" class="form-control">
    <option value="0">print</option>
    <option value="1">digital</option>
  </select>
</div>