<div class="form-group">
<label for="editionPublicationyear">Publication Year</label>
<input type="text" name="edition[publication_year]" id="editionPublicationyear" class="form-control" placeholder=""></div>

<!-- <div class="form-group">
<label for="editionFormat">format</label>
<input type="text" name="edition[format]" id="editionFormat" class="form-control" placeholder="Format"></div> -->

<div class="form-group">
<label for="editionFormattype">Format Type</label>
<input type="text" name="edition[format_type]" id="editionFormattype" class="form-control"></div>