<p><input type="text" name="edition[publication_year]" placeholder="Publication Year"></p>
<!-- <p><input type="text" name="edition[format]" placeholder="Format"></p> -->
<p><input type="text" name="edition[format_type]" placeholder="Format"></p>
<p><input type="text" name="edition[isbn10]" placeholder="ISBN 10"></p>
<p><input type="text" name="edition[isbn13]" placeholder="ISBN 13"></p>