<div class="container">
 <h4>To create student passwords:</h4>
 <ol>
 <li>Paste in the student emails.</li>
 <li>Paste in the list of words that will be converted into passwords.</li>
 <li>Enter the mobile phone number to send a text message with the list of emails and passwords.</li>
 </ol>
</div>