<div id="new-publication-form">
<h1>New Publication</h1>
<p><em><%= work.title %></em> by <%= work.author %></p>

<form id="new-publication" method="POST" action="/works/<%= work.id %>/publications">
<label for="publisher" >Publisher</label><input type="text" name="publication[publisher]" id="publisher">
<label for="publication_year" >Publication Year</label><input type="text" name="publication[publication_year]" id="publication_year">
<label for="format" >Format</label>
<select name="publication[format]" id="format" form="new-publication">
  <option value="paperback">paperback</option>
  <option value="hardcover">hardcover</option>
  <option value="pdf">pdf</option>
</select>
<label for="isbn10" > ISBN10</label><input type="text" name="publication[isbn10]" id="isbn10">
<label for="isbn13" >ISBN13</label><input type="text" name="publication[isbn13]" id="isbn13">
<button type="submit">Submit</button>
</form>
</div>