<div class="form-group">
<label for="workTitle">Title</label>
<input type="text" name="work[title]" id="workTitle" class="form-control" placeholder="How to Live Safely in a Science Fictional Universe">
</div>