<div id="new-work-form-container">
<h1>Add a new work</h1>

<form id="new-work-form" method="POST" action="/works">
  <input type="text" name="work[title]" value="Title">
  <input type="text" name="work[author]" value="Author">
  <button type="submit">Submit</button>
</form>
</div>