<h1>Sheaf</h1>

<% if user_signed_in? %>
Hi, <%= current_user.name %>! Here are some things you can do:
<ul>
  <li><%= link_to 'Add a book to your library', new_user_copy_path(current_user) %></li>
  <li><%= link_to 'Your library', user_copies_path(current_user) %></li>
  <li><%= link_to 'Add friends', friendrequests_path %></li>
  <li>Books you're borrowing</li>
  <li>Books you're lending</li>
</ul>

<% else %>

Sheaf is an app for borrowing and lending books with friends.

<% end %>
