<h1>Your Friends</h1>

<p>Hi, <%= @current_user.name %></p>
<p>You share libraries with the following users:</p>
<ul>
<% @users.each do |user| %>
  <li><%= user.name %></li>
<% end %>
</ul>

<% if session[:id] %>
    <form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" name="logout" value="Logout">Logout</button>
    </form>
<% else %>
  <p>Please login</p>
<% end %>