<h1>Hi, <%= @current_user.name %>!</h1>

<p>Here's a bunch of stuff you can do</p>
<ul>
  <li><a href="/works">Browse the Library</a></li>
  <li>Add a Book</li>
  <li>Books Borrowed</li>
</ul>

<%= erb :'borrows/_books_borrowed', layout: false, locals: { borrowed_books: @borrowed_books } %>


<%= erb :'borrows/_books_lent', layout: false, locals: { lent_books: @lent_books } %>
