<h1>Hi, <%= @current_user.name %>!</h1>

<div id="user-options">
<p>Here's a bunch of stuff you can do</p>
<ul>
  <li><a href="/works">Browse the Library</a></li>
  <li><a href="/works/new">Add a Book</li>
  <li><a href="/users/<%= @current_user.id %>/borrows" id="books-borrowed-toggle">Books Borrowed</a></li>
  <li><a href="/users/<%= @current_user.id %>/books-lent" id="books-lent-toggle">Books Lent</a></li>
</ul>
</div>