<h2>Add a Friend</h2>
<p>Add your friends on Sheaf! Friends can see each other's libraries. Your friend will receive a request via email.</p>

<form id="new-friend-request-form" method="POST" action="/friendrequests">
<p><input type="text" name="friendrequest[recipient_id]" placeholder="Recipient email"></p>
  <button class="btn" type="submit">Submit</button>
</form>