Hi,

<p>Your friend, <%= @user.name %> has invited you to join their library on Sheaf.</p>
<p><a href="<%= root_url %>/users/sign_up">Register for an account</a> to start borrowing and lending books on Sheaf</p>.

Sheaf Books
Oakland, CA