<div id="books-borrowed">
<h2>Books Borrowed</h2>
<table>
  <tr>
    <th>Owner</th>
    <th>Title</th>
    <th>Author</th>
    <th>Publisher</th>
  </tr>
  <% borrowed_books.each do |book| %>
  <tr>
    <!-- really ugly associations to be cleaned up later -->
    <td><%= book.own.user.name %></td>
    <td><%= book.own.publication.work.title %></td>
    <td><%= book.own.publication.work.author %></td>
    <td><%= book.own.publication.publisher %></td>
  </tr>
  <% end %>
</table>
</div>