<h1 class="big-ol-title">Sheaf</h1>
<img id="marcie" src="/images/marcie.JPG" alt="A cat sitting on books">
<div id="landing">
<p>Sheaf helps you manage a shared collection of print and digital books.</p>
<p>Please <a href="/sessions/new">login</a> or <a href="/users/new">register</a> to view the library.</p>
</div>